[Unit]
Description=SSCEGOV Django Gunicorn application
After=network.target

[Service]
Type=simple
User=ssce
WorkingDirectory=%h/sscegov.com/django
EnvironmentFile=-%h/sscegov.com/django/.env
Environment=PROJECT_DIRECTORY=/home/ssce/sscegov.com/django
Environment=VENV_PATH=/home/ssce/sscegov.com/django/venv
ExecStart=/usr/bin/env bash %h/sscegov.com/scripts/start_django.sh
Restart=always
RestartSec=5
UMask=0000

[Install]
WantedBy=multi-user.target
