{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta name="facebook-domain-verification" content="d9blptoh503fmncdtnjtyxe138cacn"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sscegov</title>

<!-- CSS Files -->
<link href="{% static 'web/assets3/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/color.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/all.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'web/assets3/css/slick.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'web/file/images/logoSSC-blue-clone.png' %}" type="image/png">
<!--Rev Slider Start-->
<link rel="stylesheet" href="{% static 'web/assets3/js/rev-slider/css/settings.css' %}"  type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'web/assets3/js/rev-slider/css/layers.css' %}"  type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'web/assets3/js/rev-slider/css/navigation.css' %}"  type='text/css' media='all' />
<!--Rev Slider End-->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!--MetaPixelCode-->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1991858061584484');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1991858061584484&ev=PageView&noscript=1"
  /></noscript>
  <!--EndMetaPixelCode-->
  
</head>
<body>
<!--Wrapper Start-->
<div class="wrapper"> 
  <!--Header Start-->
  <header class="wf100 header-two">
    <div id="closetopbar" class="topbar wf100">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <p>Email <a href="#">samatwaservicecenter[dot]gov[dot]in[at]gmail[dot]com</a><a href="#"></a></p>
          </div>
          <div class="col-md-6 col-sm-5"> <a id="closebtn" href="#" class="cross-btn"><i class="fas fa-times"></i></a> <a href="https://sscentrepreneur.com/exam/vlcregistrationdoc/" class="become-vol">Register Now</a> </div>
        </div>
      </div>
    </div>
    <div class="h3-logo-row wf100">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12" style="display:flex; justify-content: space-between;">
            <div class="h3-logo"> <a href="index-2.html"><img src="{% static 'web/assets2/images/SAMATWA-SERVICE-CENTRE-(SSC)-bg-remove.png' %}" alt="" width="200px"></a></div>
            <div class="h3-logo"> <a href="index-2.html"><img src="{% static 'web/file/images/logoSSC-blue-clone.png' %}" alt="" width="50px"></a></div>
			<div class="h3-logo"> <a href="index-2.html"><img src="{% static 'web/file/images/ssc-DIGITAL-SUPPORT.png' %}" alt="" width="170px"></a></div>
            <div class="h3-logo"> <a href="index-2.html"><img src="{% static 'web/file/images/G20_logo-new.png' %}" alt="" width="100px"></a></div>
          </div>

        </div>
      </div>
    </div>
    <div class="h3-navbar wf100">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="display: flex; gap: 50px;" >
              <li class=""> <a href="{% url 'web:index' %}" class=""  >Hom <span class=""></span></a>

              </li>
              <li> <a href="{% url 'web:about' %}" >About <span class=""></span></a> </li>
              <li> <a href="{% url 'web:career' %}" >Career <span class=""></span></a> </li>
              <li> <a href="{% url 'web:media' %}" >Media <span class=""></span></a> </li>
              <li> <a href="{% url 'web:contact' %}" >Contact <span class=""></span></a> </li>
              


            </ul>
            <ul class="navbar-right">

              <li class="donate-btn"><a href="https://sscentrepreneur.com/exam/vlcregistrationdoc/">VLC Registration</a></li>
              <li class="donate-btn"><a href="{% url 'web:login_view' %}">Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--Header End-->


        {% block content %}
        
        {% endblock %}
        
        
 <!--Footer Start-->
 <footer class="home3 main-footer wf100">
    <div class="container">
      <div class="row"> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="textwidget"> <img src="{% static 'web/file/images/logoSSC-WHITE-cut-(2).png' %}" alt="" width="130px">
            <address>
            <!-- <ul>
              <li> <i class="fas fa-university"></i> <strong>Council Address:</strong> Block H, Cosmo Avenue, #201
                New York, USA </li>
              <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> contact@balad.com<br>
                info@balad.com </li>
              <li> <i class="fas fa-phone"></i> <strong>Call us:</strong> (0800) 009876
                +12 6547 0987 </li>
            </ul> -->
            </address>
          </div>
        </div>
        <!--Footer Widget End--> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>INFORMATION</h6>
            <ul>
              <li><a href="{% url 'web:about' %}"><i class="fas fa-star"></i> About Us</a></li>
              <li><a href="{% url 'web:media' %}"><i class="fas fa-star"></i> Media</a></li>
              <li><a href="{% url 'web:whatwedo' %}"><i class="fas fa-star"></i> What We Do</a></li>
             
            </ul>
          </div>
        </div>
        <!--Footer Widget End--> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>TERMS & PRIVACY</h6>
            <ul>
              <li><a href="{% url 'web:privacy_policy' %}"><i class="fas fa-star"></i> Privacy Policy</a></li>
              <li><a href="{% url 'web:terms_and_conditions' %}"><i class="fas fa-star"></i> Terms and Conditions</a></li>

            </ul>
          </div>
        </div>
        <!--Footer Widget End--> 
                <!--Footer Widget Start-->
                <!-- <div class="col-md-3 col-sm-6">
                  <div class="footer-widget">
                    <h6>CONNECT</h6>
                    <ul>
                      <li><a href="https://sscentrepreneur.com/exam/vlcregistrationdoc/"><i class="fas fa-star"></i> Registration</a></li>
                      <li><a href="{% url 'web:contact' %}"><i class="fas fa-star"></i> Contact</a></li>
                     
                    </ul>
                  </div>
                </div> -->

                <div class="col-md-3 col-sm-6">
                  <div class="footer-widget">
                    <h6>EXAMS</h6>
                    <ul>
                      <li><a href="https://sscentrepreneur.com/exam/vlcregistrationdoc/"><i class="fas fa-star"></i> SSC Registration</a></li>
                      <li><a href="https://uidai.nseitexams.com/UIDAI/LoginAction_input.action"><i class="fas fa-star"></i> Aadhaar Enrolment Exam</a></li>
                     
                    </ul>
                  </div>
                </div>
                <!--Footer Widget End-->
        <!--Footer Widget Start-->
        <!-- <div class="col-md-3 col-sm-6">
          <div class="twitter-widget">
            <div class="tw-txt">
              <h6>@john.flintoff</h6>
              <a href="#" class="reply-tw"><i class="fas fa-reply"></i></a>
              <p> The Hightst Glory of the Citizen's revolution was this; it connected in one indissoluble bond the principles of civil govt. with humanity principles. </p>
            </div>
            <div class="tw-footer"> @Balad.gov <strong>3 November, 2019</strong> <i class="fab fa-twitter"></i> </div>
          </div>
        </div> -->
        <!--Footer Widget End--> 
      </div>
    </div>
  </footer>
  <!--Footer Start--> 
  <!--Footer Start-->
  <footer class="home3 footer wf100">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <p class="copyr"> 2024 <a href="https://pentagonsoftwares.com/">Pentagon Softwares All Rights Reserved</a></p>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul class="footer-social">
            <li><a href="https://www.facebook.com/share/1FGv2vzc4j/?mibextid=wwXIfr" class="fb"><i class="fab fa-facebook-f"></i></a></li>
            <!-- <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li> -->
            <li><a href="https://www.instagram.com/samatwaservice?igsh=MTQ1bjVvdWRnM2luYg%3D%3D&utm_source=qr" class="insta"><i class="fab fa-instagram"></i></a></li>
            <!-- <li><a href="#" class="linken"><i class="fab fa-linkedin-in"></i></a></li> -->
            <li><a href="#" class="yt"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer End--> 
</div>
<!--Wrapper End-->

<nav id="sidebar">
  <div id="dismiss"> <i class="fas fa-arrow-right"></i> </div>
  <div class="sidebar-header"> <img src="{% static 'web/assets3/images/footer-logo2.png ' %}" alt=""> </div>
  <ul class="list-unstyled components">
    <li class="active"> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="index-2.html">Default Home Page</a></li>
        <li><a href="home-two.html">Home Page Two</a></li>
        <li><a href="home-three.html">Home Page Three</a></li>
      </ul>
    </li>
    <li> <a href="aboutus.html">About Us</a> </li>
    <li> <a href="departments.html">Departments</a> </li>
    <li> <a href="news-full.html">News</a> </li>
    <li> <a href="event.html">Events</a> </li>
    <li> <a href="explore-city.html">Explore City</a> </li>
    <li> <a href="services.html">Services</a> </li>
    <li> <a href="contact.html">Contact</a> </li>
  </ul>
</nav>
<div class="overlay"></div>

<!-- JS --> 
<script src=" {% static 'web/assets3/js/jquery.min.js' %}"></script> 
<script src=" {% static 'web/assets3/js/bootstrap.min.js' %}"></script> 
<script src=" {% static 'web/assets3/js/owl.carousel.min.js' %}"></script> 
<script src=" {% static 'web/assets3/js/jquery.prettyPhoto.js' %}"></script> 
<script src=" {% static 'web/assets3/js/slick.min.js' %}"></script> 
<script src=" {% static 'web/assets3/js/custom.js' %}"></script> 
<!--Rev Slider Start--> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.actions.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.migration.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'web/assets3/js/rev-slider/js/extensions/revolution.extension.video.min.js' %}"></script>
</body>
</html>