{% extends "web/home/base.html" %}

{% load static %}

{% block content %}	
    
    <!-- PRIVACY PAGE
			============================================= -->
			<section id="privacy-page" class="gr--whitesmoke pb-80 inner-page-hero division">
				<div class="container">
					<div class="row justify-content-center">	
						<div class="col-xl-10">


							<!-- INNER PAGE TITLE -->
							<div class="inner-page-title">
								<h2 class="s-52 w-700">Privacy Policy</h2>
							</div>


							<!-- TEXT BLOCK -->	
							<div class="txt-block legal-info">

								<!-- Title -->

								<!-- Text -->
								<p>
                                    An electronic record in the form of an electronic contract is this privacy policy. 
                                    This Policy shall specify how we collect, store and use personal data when you access 
                                    the SSC website in order to deliver relevant and timely services as well as enhance 
                                    your experience of this site.
								</p>

								<!-- Text -->
								<p>
                                    The confidentiality policy between you and the SSC is legally binding. At any time 
                                    without prior notification, our privacy policy may be modified. Please review the 
                                    policy on a regular basis to ensure that you are aware of any changes.
								</p>

                                <p>
                                    For unsolicited EMAIL and SMS we shall not sell, transfer or make available to third 
                                    parties any personally identifiable information such as your cell phone number/emails. 
                                    Only the provision of approved services and products, as well as this privacy policy, 
                                    shall be subject to any email or sms from SSC. We may occasionally exchange news and 
                                    general statistical information about the SSC as well as its users. We shall have the 
                                    right to communicate your personal data to any party that applies for its disclosure 
                                    in accordance with a legal requirement.
								</p>

								<!-- Title -->
								<h4 class="s-30 w-700">Confidential Information</h4>

								<!-- Text -->
								<p>
                                    Confidential information also called personal data which includes all the information 
                                    related to a specific individual such as name, address, contact number, mailing address 
                                    etc. No personally identifiable information voluntarily provided through this portal 
                                    shall be sold or shared with any other party .Loss, misuse, unauthorized access or 
                                    disclosure, alteration or destruction of any information provided to this portal 
                                    shall be prohibited.
								</p>

								<!-- Title -->
								<h4 class="s-30 w-700">Use of Confidential Information</h4>

								<!-- Text -->
								<p>
                                    SSC use your personal information to provide you with the services and products 
                                    that you specifically requested, for resolving disputes, troubleshooting problems, 
                                    helping promote safe services, collecting funds, measuring consumer interest in our 
                                    services and makes you aware about offers, products, services, updates, customize 
                                    your experience, detect and protect you from errors, fraud or any kind of crime, 
                                    implement our terms and conditions etc. We'll also send you offers based on your 
                                    past orders and interests, using your contact information.
								</p>

								<h4 class="s-30 w-700">Cookies</h4>

								<!-- Text -->
								<p>
                                    A cookie is a tiny file of information created and sent to the Internet browser by
                                    your Web server. When you are visiting the SSC portal, we and our partners use a 
                                    variety of technologies for gathering and storing information including cookies or 
                                    other types of technology which may be used to identify your computer. No personal 
                                    data will be collected by means of cookies and other tracking technologies; however, 
                                    if you previously provided Personally Identifiable Information, such information may 
                                    be linked to the cookie. Third parties may be provided with aggregate cookies and 
                                    tracking information.
								</p>

								
								<h4 class="s-30 w-700">Safety</h4>

								<!-- Text -->
								<p>
                                    In order to protect the loss, misuse and alteration of information that is controlled 
                                    by us, SSC has implemented strict security measures. We offer the use of a secured server 
                                    whenever you change or visit your account details. We will comply with stringent security 
                                    rules to protect your information against unauthorized access once it has been obtained. 
                                    We'll collect some information about the registered user, such as IP addresses, domain 
                                    names, browser types, operating systems, time and date of visit or pages visited. If an 
                                    attempt to damage our site is not detected, we do not attempt to match these addresses 
                                    with the identities of those who visit our website.
								</p>
                                <p>
                                    You can find other websites that may collect personally identifiable information 
                                    about you on this website. The privacy practices and content of these linked websites 
                                    shall not be the responsibility of SSC.
                                </p>
                                <p style="color: black;">
                                    Accept
                                </p>

                                <p>
                                    You confirm that you have read, understood and agreed to this Privacy Policy and that 
                                    you have given your permission for us to use your personal information as described, 
                                    by continuing to use this website. Contact us using the contact details below if you 
                                    are in any doubt about any aspect of this privacy policy:
                                </p>

							</div>	<!-- END TEXT BLOCK -->	


						</div>
					</div>    <!-- End row -->
				</div>     <!-- End container -->
			</section>	<!-- END PRIVACY PAGE -->


            {% endblock %}