{% extends "web/home/base.html" %}

{% load static %}

{% block content %}	
            
            <!-- TERMS PAGE
			============================================= -->
			<section id="terms-page" class="gr--whitesmoke pb-80 inner-page-hero division">
				<div class="container">
					<div class="row justify-content-center">	
						<div class="col-xl-10">


							<!-- INNER PAGE TITLE -->
							<div class="inner-page-title">
								<h2 class="s-52 w-700">Terms and Conditions</h2>
							</div>


							<!-- TEXT BLOCK -->	
							<div class="txt-block legal-info">

								<!-- Text -->
								<p>Before you register, access, browse or use this website, please be aware of these 
                                    terms and conditions carefully. You agree to these terms and conditions, which 
                                    shall be set out in the following form as well as any further guidance or subsequent 
                                    modifications, when you access or use this website or service. You may not access 
                                    or use the site and immediately terminate your use of the service if you do not 
                                    agree to these terms and conditions or do not wish to be bound by them. These 
                                    Terms and Conditions (the “Agreement”) is a legal contract between you being, 
                                    an individual customer, user, or beneficiary of this service (“Registered User”/”You”) 
                                    and( Samatwa Service Center E-Governance LTd) subject to your compliance with the terms 
                                    and conditions listed below, as well as appropriate policies, you may use this service. 
                                    Any changes, additions or deletions of parts of those terms and conditions shall be at 
                                    the sole discretion of SSC. In order to get the updations , you shall revisit the terms 
                                    and conditions link.
								</p>
                                <p>
                                    To utilize our services, you must meet the following requirements.
                                </p>
								<ul class="simple-list">

									<li class="list-item">
										<p>
                                            Must be residing in India
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            Should have at least 18 years of age.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            Use Indian rupees as the medium of transaction to perform services
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            You can use services on a networked device that supports services.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            If we have reason to believe that your account is being used by someone 
                                            who is ineligible or for any other reason, we reserve the right to 
                                            terminate it without delay.
										</p>
									</li>
                                </ul>								<!-- Title -->
								<h4 class="s-30 w-700">Security of data</h4>

								<!-- Text -->
								<p>No personal data of the customer shall be kept or requested by SSC. In such cases, 
                                    the VLE would be solely responsible for maintaining such records and the security
                                    of such information, and in no case would SSC be held responsible for any information 
                                    which might be contrary to the data protection policy, if the VLE stores any customer 
                                    data for the provision of services. VLE shall only use all confidential information 
                                    provided by SSC for the purpose of providing services pursuant to the Agreement with 
                                    SSC. Certain information and materials relating to SSC's business technology, customers 
                                    and products, which are confidential and of significant value to SSC, may be received 
                                    by VLE. The confidential information of the SSC shall not be used or disclosed by VLE 
                                    to any third party, unless SSC's consent is granted.
								</p>

								<!-- Text -->
								<p>
                                    VLE shall ensure that confidential information is protected and kept confidential, 
                                    and shall not use confidential information for any purpose other than the fulfillment 
                                    of its contractual obligations with SSC, in accordance with the principles of confidentiality 
                                    and reasonable care. VLE represents that he will respect the laws applicable in India on data 
                                    privacy as amended from time to time, and further confirm his compliance with all relevant 
                                    legislation, statutes, regulations and codes concerning data protection.
								</p>

								<!-- Title -->
								<h4 class="s-30 w-700">Fraud and Dispute</h4>

								<!-- Text -->
								<p>
                                    Fraud is defined as dishonestly obtaining a benefit or causing loss by deception or 
                                    other means and includes, for example, the alleged, attempted, suspected or discovered 
                                    fraud. Once detected, all types of fraud and disputes should be reported to SSC as soon 
                                    as it reported.
								</p>
                                <p>
                                    In case a VLE is found involved in any dishonest activities or malpractice, SSC have the 
                                    right to suspend his/her SSC id, and he/she would not be able to transact any further. 
                                    Any differences and disputes arising between SSC and VLE or between VLE and Customer, 
                                    in the first instance it shall be  resolved mutually and in the event of a non-resolution, 
                                    the matter may be transferred to a mediator to be appointed by SSC whose decision shall 
                                    be final and binding on the parties.
                                </p>
                                <p>
                                    The proceedings of the arbitration shall be held at the location where the head office of SSC is situated.
                                </p>
                                <p>
                                    These terms and conditions shall be governed by and construed in accordance with the Indian Laws. 
                                    Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the 
                                    courts of India.
                                </p>


								<!-- Title -->
								<h4 class="s-30 w-700">Other terms and conditions</h4>

		

								<!-- Text -->
								<p>Augue congue sagittis egestas integer velna purus purus magna nec suscipit and egestas 
								   magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
								   luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
								   fusce cursus neque donec and ipsum porta diam lorem sodales an aliquam lacinia justo 
								   sapien congue aliquet and sodales a quaerat tortor lacinia egestas
								</p>

								<!-- Title -->
								<h4 class="s-30 w-700">Method of Payment</h4>

								<!-- Text -->
								<p>
                                    This website is created and managed by SAMATWA SERVICE CENTER E- GOVERNANCE LTD.
								</p>

								<!-- Text -->
								<p>
                                    SSC has the right to add new services, modification of existing services without any prior notice.
								</p>
                                <p>
                                    As a valued user, it is important to ensure that all information provided on this site is 
                                    true, accurate, current, and complete in accordance with the terms of use. If there are 
                                    reasonable grounds to suspect that any information is untrue, inaccurate, not current, or 
                                    incomplete, SSC reserves the right to indefinitely suspend, terminate, or block access to 
                                    the site and refuse access to your account.
                                </p>
                                <p>
                                    If we charge any kind of registration fee in future, that will be clearly update in the 
                                    official website of SSC. 
                                </p>
                                <p>
                                    The registered user shall agree not to host, upload, display, transmit, comment or share any 
                                    information which the user does not have the right to and shall not use words which are harmful, 
                                    inappropriate, obscene, offensive, which infringes the rights of privacy of any individual or 
                                    group or organization.
                                </p>
                                <p>
                                    The use of copyright material on the website shall not be authorized by Samatwa Service Center 
                                    E Governance Ltd. It is recommended that users apply for this authorization from the owners of the 
                                    linked websites.
                                </p>
                                <p>
                                    By clicking on a link to an external website, you will be redirected away from the Department of Industries 
                                    website and will be bound by the privacy and security policies of the external website's owners.
                                </p>
                                <p>
                                    If a VLE fails to carry out any transactions for six months, their SSC Id may be suspended.
                                </p>                                    
                                    <h5 class="s-24 w-700">Mobile and DTH Services</h5>

                                <p>
                                    SSC acts solely as a reseller of prepaid services by telecommunications and DTH providers, 
                                    and is not responsible for the quality or terms of the services provided; any disputes 
                                    regarding the recharge must be resolved between the customer and the service provider.
                                </p>
								<h5 class="s-24 w-700">Bill Payments</h5>
                                <p>
                                    Fees for using SSC's services may be charged and revised at any time, and users are 
                                    responsible for staying informed of these changes by checking the SSC website or 
                                    business partner channel; additionally, if a user cancels a payment, SSC may charge them accordingly.
                                </p>
                                <p>
                                    Your designated e-wallet will be charged with the identified Biller(s) payments through SSC, which 
                                    provides a secure and convenient payment method depending on the SSC’s business partner.
                                </p>
                                <p>
                                    The service may have different features, billers, e-wallet options, modes of access, and charges 
                                    depending on the channel used, and for specific information about these aspects, please contact 
                                    the SSC business partner or the channel, and by using the Bill Payment Service, you agree to the terms.
                                </p>
                                <p>
                                    Please ensure that the information you provide regarding yourself, your e-wallet, and your biller 
                                    is authentic, up-to-date, and comprehensive.
                                </p>
                                <p>
                                    It is important to ensure that your registration data, e-wallet data, and biller data are always 
                                    accurate and up-to-date, as providing false or incomplete information may result in suspension or 
                                    termination of your account and denial of Service usage.
                                </p>
                                <p>
                                    If the payment cannot be completed, you will receive an email notification regarding the failed transaction.
                                </p>
                                <h5 class="s-24 w-700">Conditions of E wallet</h5>
                                <p>
                                    Upon successful registration, you can immediately access a basic account and recharge your e-Wallet via Payment 
                                    Gateways. It should be noted that SSC Wallet is only available to resident Indians who are 18 years or older and 
                                    legally competent to contract.
                                </p>
                                <p>
                                    SSC e-Wallet Services may be suspended or discontinued for any reason at any time, only if you violate the following conditions.
                                </p>

								<ul class="simple-list">

									<li class="list-item">
										<p>
                                            If you suspect any breach of RBI regulations or the terms and conditions outlined in this document, 
                                            please notify us immediately.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            If there are any issues with the details, paperwork, or registration form you have submitted. 
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            To prevent fraudulent activity, intentional damage, threats to national security, or other 
                                            unforeseen circumstances, measures must be taken. 
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            In the event of technical issues such as failure, modification, upgrading, relocation, repair, 
                                            or maintenance for emergency or technical reasons, the same may apply.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            At any given time, there must be a minimum balance of Rs 500 in the SSC portal wallet for the VLE.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            To ensure compliance, please note that only one SSC e-Wallet is allowed per user and any 
                                            indication of multiple accounts may result in the suspension or discontinuation of all associated wallets.
										</p>
									</li>
                                </ul>
								<h5 class="s-24 w-700">Aadhar and KYC Authentication</h5>

										<p>
                                            I acknowledge that in order to become a VLE, I will need to verify my identity through 
                                            Aadhaar-based authentication and give my consent to provide my Aadhaar number and biometric 
                                            information for the purpose of Aadhaar-based KYC.
										</p>
                                        <p>
                                            To ensure secure Aadhaar authentication, it is important for VLE's to utilize only biometric devices that are certified by STQC/UIDAI.
                                        </p>
                                        <P>
                                            It is strongly recommended for VLEs to keep a record of the gadgets utilized for Aadhaar operation. 
                                            The Aadhaar holder must be properly informed in their native language about the data being collected 
                                            and its intended use, and their approval should be obtained either through paper or electronic means, 
                                            while also being assured that their identity data will not be shared with any third party by the VLE. 
                                            It is strongly recommended that VLE's refrain from storing Aadhaar-based data in unprotected endpoint 
                                            devices such as PCs, laptops, smartphones etc.
                                        </P>
								<h5 class="s-24 w-700">Refund Policy</h5>
								<ul class="simple-list">

									<li class="list-item">
										<p>
                                            The user is responsible for all the information regarding the entire transactions on SSC portal.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                             If you do not receive a recharge within 24 hours of completing a wallet top-up through a payment
                                             gateway and money has been deducted from your card or bank account, please inform customer services 
                                             by sending an email to <a href="mailto:1442661554@tickets.helpdesk.com" class="color--theme">1442661554@tickets.helpdesk.com.in</a>
                                              or raising a ticket on the SSC Portal.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            If it is confirmed that you were charged for a recharge or service that was not delivered, we will investigate and refund the amount within 21 
                                            working days upon receipt of your communication.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            For all situations requiring refunds, the funds will be credited to the appropriate account. 
                                            In cases of top-up, the refund will be credited to the bank account, while for all other cases; 
                                            it will be credited to the wallet.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            It may take 3 to 21 business days for the funds to appear in your bank account, 
                                            depending on your financial institution's policies.
										</p>
									</li>
                                    <li class="list-item">
										<p>
                                            If a chargeback occurs and the service was already provided to the user 
                                            before the amount was returned to their source account,
                                             SSC has the authority to recover that amount from the user's account. 
										</p>
									</li>
                                </ul>

							</div>	<!--    / END TEXT BLOCK -->	


						</div>
					</div>    <!-- End row -->
				</div>     <!-- End container -->
			</section>	<!-- END TERMS PAGE -->

{% endblock %}