{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}


<div class="grid">
    <div class="order__left centered">
       <div class="form">
          <div class="logo">
            <img class="img" style="width:100px;" src="{% static 'web/images/log0.png' %}" alt="picture">
          </div>

          <h4 style="margin-top: 30px !important;">Samatwa Service Centre E-Governance Limited</h4>
          <p>
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
        
          <form method="post" action="" style="margin-top: 30px !important;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary btn-block text-uppercase mb-2  shadow-sm" value="{% trans 'Reset password' %}" />
        </form>
                    
       </div>
    </div><!-- order__left centered -->
    
    <div class="order__right centered no__overflow">
      <img class="img" src="{% static 'web/images/modi1.jpg' %}" alt="picture">
   </div><!-- order__right centered no__overflow -->

 </div><!-- end grid -->
{% endblock %}


{# This is used by django.contrib.auth #}
